@model InventoryBeginners.Models.ProductAttribute

@{
    string currentModel = ViewBag.AttributeName;

    ViewData["Title"] = currentModel + " - Details";
}

<h1>@currentModel - Details</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div>    
    <hr />

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
      
    </dl>
</div>
<div class="btn-group">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-secondary" asp-action="index" asp-route-attributeType="@ViewBag.AttributeId"
       asp-route-pg="@TempData["CurrentPage"]">Back</a>    
</div>
